
* {
  font-family: Roboto;
}
.rgr-alt {
  position: fixed;
}
.ribbon-top-left {
  left: 0;
  top: 0;
}
.ribbon-top-right {
  right: 0;
  top: 0;
}
.ribbon-bottom-left {
  left: 0;
  bottom: 0;
}
.ribbon-bottom-right {
  right: 0;
  bottom: 0;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  border: 5px dashed grey;
  border-radius: 30px;
  padding: 3em 4em;
  font-size: 1.25em;
}
h1 {
  font-family: Monaco;
}
